@charset "UTF-8";
@import url("../webfonts/03SmartFontUI/stylesheet.css");
@import url("../webfonts/MPLUS1_VariableFont_wght/stylesheet.css");
/* scroll bar*/
::-webkit-scrollbar {
width: 5px;
height: 20px;
}
::-webkit-scrollbar-track {
background-color: rgba(0,0,0,0.00);
border-radius: 100px;
}
::-webkit-scrollbar-thumb {
background: rgba(0,68,24,0.75);
border-radius: 100px;
width: 130px;
}
/* Loader */
.loader-wrap {
	position: fixed;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fff;
}
.loader,
.loader:before,
.loader:after {
	background: #004D40;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.loader {
	color: #004D40;
	text-indent: -9999em;
	margin: 88px auto;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: '';
}
.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}

/* Window */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    background-color: #fff;
    border-radius: 0.5em;
}

.closeModal {
    position: sticky;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    font-size: xx-large;
}
.window_bar_box {
    width: 50%;
    float: left;
    display: block;
}
/*list*/
ul.attention{
  position: relative;
  padding: 15px 15px 15px 30px;
  font: 14px/1.6 'arial narrow', sans-serif;
  border: solid 2px #adcce8;
  border-radius:8px;
  color: #448ccb;
  width:340px;
  background: #fff;
}
ul.attention:before{
  content: "POINT";  /* 好きな文字を記述 */
  position: absolute;
  display: block;
  top: -15px;
  left: 20px;
  background: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 0 10px;
}
ul.attention li{
  font-weight: bold;
}
/*more info button*/
.grad-btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  /*.grad-btnのCSSは表示/非表示の動作には関係ないので、ご自由にどうぞ。*/
}
.grad-btn::before {
  content: "ガイドラインを読む"
}
.grad-item {
    position: relative;
    overflow: hidden;
    height: 0px; /*隠した状態の高さ*/
    margin-left: auto;
    margin-right: auto;
}
.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}
.grad-trigger {
  display: none; /*チェックボックスは常に非表示*/
}
.grad-trigger:checked ~ .grad-btn::before {
  content: "閉じる" /*チェックされていたら、文言を変更する*/
}
.grad-trigger:checked ~ .grad-item {
    height: 100%;
    margin-left: auto;
    width: 80%;
    margin-right: auto;
    margin-top: 2em;
}
.grad-trigger:checked ~ .grad-item::before {
  display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}
/*table*/
table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    -webkit-box-shadow: 0px 0px 15px -1px #333333;
    box-shadow: 0px 0px 15px -1px #333333;
}

table tr {
    background-color: #FFFFFF;
}
table tbody tr:hover {
    transition: 0.2s;
}

table th,
table td {
  padding: 1em 10px 1em 1em;
}
.transport {
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;




    text-align: center
: !important;
    font-size: medium;
}
.color_red {
    color: #A22041;
}

.color_blue {
    color: #0047AB;
}


table th {
  font-size: .85em;
}
table thead tr{
    background-color: #093900;
    color: #fff;
}
thead tr th {
}

table tbody th {
    background-color: #FFFFFF;
}
.txt{
   text-align: left;
   font-size: .85em;
}
.price{
  text-align: right;
  color: #167F92;
  font-weight: bold;
}
.non{
  background:#fff
}
.table_inner {
    font-size: large;
}
.section_title3 {
    text-align: center;
}



@media screen and (max-width : 767px ){
  table {
    border: 0;
    width: 100%;
    -webkit-box-shadow: inset 0px 0px 0px;
    box-shadow: inset 0px 0px 0px;
  }
td  {
    border-bottom: thin dotted #093900;
}

  table th{
    background-color: #167F92;
    display: block;
    border-right: none;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    margin-bottom: .625em;
  }
  table td {
    display: block;
    font-size: .8em;
    position: relative;
    padding-top: 0.625em;
    padding-right: .625em;
    padding-left: 0.625em;
    padding-bottom: .625em;
    border-right: none;
  }
table td:last-child {
    background-color: antiquewhite;

}
table td:last-child:hover {

}

  table td::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 10px;
    color: #167F92;
  }
  table td:last-child {
    border-bottom: medium #9A9A9A none;
    text-align: left;
    background-color: white;
  }
	.blue:last-child {
		border-left: 7px solid #0047AB;
		border-right:solid 7px #0047AB;
		border-bottom: solid 3px #0047AB;
}
	.red:last-child {
		border-left:solid 7px #A22041;
		border-right:solid 7px #A22041;
		border-bottom: solid 3px #A22041;
	}
	.green:last-child {
		border-left:solid 7px #82F965;
		border-right:solid 7px #82F965;
		border-bottom: solid 3px #82F965;
	}
	.black:last-child{
		border:solid 1px #093900;
	}
  table tbody th {
    color: #fff;
    background-color: #093900;
}
.icon {

}
.m_hidden {
    display: none;
}
.table_inner {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 3em;
    font-size: medium;
}
.transport {
    font-size: medium;
    padding-top: auto;
    padding-bottom: auto;
}
tr .txt .table_inner {
}
.color_blue {
    background-color: #0047AB;
    color: #FFFFFF;
}
.color_red {
    background-color: #A22041;
    color: #FFFFFF;
}
.color_green {
    color: #000000;
    background-color: #82F965;
}
.access_box h2 {
    font-size: x-large;
    margin-left: 10px;
    margin-right: 10px;
}
.access_box p {
    font-size: small;
    margin-left: 10px;
    margin-right: 10px;
}













}
.icon {
    width: 2.5em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Twitter */
.timeline-Widget {
  padding: 20px;
  background-size: auto auto;
  background-color: #3c3c3c;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #323232 10px, #323232 20px)
}

.timeline-TweetList-tweet {
  color: #fff
}
.SandboxRoot.env-bp-660 .timeline-Header-byline, .SandboxRoot.env-bp-660 .timeline-Header-subtitle, .SandboxRoot.env-bp-820 .timeline-Header-byline, .SandboxRoot.env-bp-820 .timeline-Header-subtitle, .SandboxRoot.env-bp-970 .timeline-Header-byline, .SandboxRoot.env-bp-970 .timeline-Header-subtitle {
  color: #fff !important
}
.timeline-Header-title {
  color: #fff !important;
  font-size: 20px !important
}
.timeline-Header-title a {
  color: #fff !important
}
.timeline-Tweet {
  transition: background-color .3s
}
.timeline-Tweet:hover {
  background-color: rgba(0, 0, 0, .2)
}
.TwitterCard-container--clickable:hover {
  background-color: rgba(0, 0, 0, .2)
}
.SandboxRoot.env-bp-970 .timeline-Tweet-text {
    font-size: 10.5pt !important;
    line-height: 14pt!important;
    }

.SandboxRoot.env-bp-820 .timeline-Tweet-text {
    font-size: 10.5pt !important;
    line-height: 14pt!important;
    }
.modalWrapper {
    height : 80%;
    overflow : auto;
}
.main_window {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.vlink {
    margin-top: -200px;
    padding-top: 200px;
}


.modalContents {
    font-family: "MPLUS1 VariableFont wght";
}
.window_bar {
    display: inline-block;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: rgba(255,255,255,1.00);
}
.window_bar_in {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.window_bar_outer {
    width: 95%;
    display: inline-block;
    margin-right: 1em;
    margin-left: 1em;
    line-height: normal;
}



/* Body */
body {
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    background-color: #F0F0F0;
    width: auto;
}
.about_top_right {
    width: 20%;
    display: block;
    height: 1px;
}
.about_top_left {
    width: 20%;
    display: block;
    float: left;
    height: 1px;
}


/* Container */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: "MPLUS1 VariableFont wght";
}
.title_important {
    border: thick solid #FF0004;
    display: block;
    background-color: #FFFFFF;
}
.news_important {
    text-align: center;
    font-size: large;
}


.center_box {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section_box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 100%;
    border-radius: 2em;
    border: medium solid #004D40;
    display: inline-block;
    background-color: #FFFFFF;
    margin-bottom: 2em;
}

.about_text {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.top {
    width: 100%;
    display: block;
}

.attention {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border-style: solid;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: "MPLUS1 VariableFont wght";
    margin-bottom: 2em;
}

.event {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: "MPLUS1 VariableFont wght";
}
.black-frame {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 0px;
    margin-top: 3em;
    width: 95%;
}
.event_title {
    border-radius: 1em;
    margin-top: 2em;
    background-color: #FFFFFF;
    color: #000000;
    -webkit-box-shadow: 0px 0px 17px -5px #00000073;
    box-shadow: 0px 0px 17px -5px #00000073;
    padding-left: 1em;
    font-weight: normal;
}
.h3_title {
    border-radius: 1em;
    margin-top: 2em;
    background-color: #FFFFFF;
    color: #000000;
    -webkit-box-shadow: 0px 0px 19px -1px #00000073;
    box-shadow: 0px 0px 19px -1px #00000073;
    font-weight: normal;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
.m_h3_title {
    border-radius: 1em;
    margin-top: 2em;
    background-color: #FFFFFF;
    color: #000000;
    -webkit-box-shadow: 0px 0px 19px -1px #00000073;
    box-shadow: 0px 0px 19px -1px #00000073;
    font-weight: normal;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    font-size: medium;
    text-align: center;
}



.image {
    width: 100%;
    display: block;
}
.about_top_image {
    width: 60%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


.instructor {
    display: inline-block;
    width: 100%;
}
.instructor_list {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.instructor_outerbox {
    width: 33.3333%;
    display: inline-block;
    float: left;
}
.instructor_innerbox {
    display: inline-block;
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    border-style: solid;
    border-width: medium;
    border-radius: 1em;
    background-color: #FFFFFF;
}
.instructor_img {
    margin-left: 1em;
    margin-right: 1em;
    width: 90%;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}
.instructor_textbox {
    display: inline-block;
    width: 90%;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    text-align: center;
    font-style: normal;
    font-family: "MPLUS1 VariableFont wght";
}






.twitter1 {
}

.banner1 {
    margin-top: 0px;
    padding-top: 0px;
    background-color: #EF9D04;
    height: 4em;
}

.twitter {
    margin-top: 3em;

}

.news {
    width: 90%;
}

/* Navigation */
#top-head {
    width: 100%;
    height: 6em;
    background: #fff;
    opacity: 0.9;
    display: flex;
    z-index: 999;
    position: fixed;
    transition: 1s;
}
#top-head.hide {
    transform: translateY(-5em);
}

#top-head .inner {
  float: left;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*logo style*/
.inner h1 a {
  color: #20b2aa;
  text-decoration: none;
  font-weight: bold;
}
/*nav style*/
#top-head nav ul {
  display: flex;
  list-style-type: none;
}
/*nav link style*/
#top-head nav ul li a {
  text-decoration: none;
  padding: 16px;
  color: #404040;
}
#top-head nav ul li a:hover {
  color: #20b2aa;
}
#nav_toggle {
  display: none;
}
img {
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 100%;
}
.class_inner_box   {
    display: inline-block;
    float: left;
    border-radius: 2em;
    background-color: #FFFFFF;
    border: medium solid #093900;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
}
.class_inner {
    font-family: "MPLUS1 VariableFont wght";
    font-size: x-large;
}

.classinfo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.classinfo {
    width: 80%;
}

.classes {
    width: 100%;
    display: inline-block;
}
.class_img {
    width: 95%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}



.class {
    width: 50%;
    display: inline-block;
    float: left;
}


.hero_header {
    text-shadow: 0px 0px;
    color: #093900;
    font-family: "MPLUS1 VariableFont wght";
    font-size: 4em;
    font-weight: 300;
}
.address {
    font-family: "MPLUS1 VariableFont wght";
    color: #000000;
    font-size: x-large;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2em;
}
.sponsors_img4 {
    width: 95%;
    margin-top: 1px;
    margin-bottom: 20px;
}
.quick {
    display: inline-block;
    width: 100%;
    height: auto;
}
.space {
    height: 6em;
}
.main_windowouter {
    width: 100%;
    display: inline-block;
}
.access_box {
    border: medium solid #093900;
    border-radius: 1em;
    display: inline-block;
    width: 100%;
    background-color: white;
}
.map {
    -webkit-box-shadow: 0px 0px 15px -6px #000000;
    box-shadow: 0px 0px 15px -6px #000000;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.access_title {
    display: block;
    width: 100%;
    border-style: solid;
    height: 2em;
}








/*============================
mobile style
============================*/
@media screen and (max-width : 767px ){
/*hamburger menu style*/
  #nav_toggle {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 4px;
    z-index: 100;
  }
  #nav_toggle div {
    position: relative;
  }
/*hamburger menu close style*/
  #nav_toggle span {
    display: block;
    height: 2px;
    background: #404040;
    position:absolute;
    width: 100%;
    left: 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  #nav_toggle span:nth-child(1) {
    top:0px;
  }
  #nav_toggle span:nth-child(2) {
    top:10px;
  }
  #nav_toggle span:nth-child(3) {
    top:20px;
  }
/*hamburger menu open style*/
  .open #nav_toggle span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .open #nav_toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav_toggle span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
/*nav style*/
  #top-head nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 1040px;
    background: #fff;
    z-index: 999;
  }
  #top-head nav ul {
    display: block;
    width: 80%;
  }
  #top-head nav ul li {
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
  }
  #top-head nav ul li:last-child {
    border: none;
  }
/*nav link style*/
  #top-head nav ul li a {
    display: block;
  }
.instructor_list {
    width: 95%;
}
.instructor_outerbox {
    width: 100%;
}
.instructor_img {
    width: 95%;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.instructor_innerbox {
    border-radius: 10px;
    border-width: thin;
}
.instructor_textbox {
    width: 95%;
    margin-left: 1px;
    margin-right: 1px;
}
.class {
    width: 100%;
}
.class_img {
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 9px;
    margin-bottom: 9px;
}
.address {
    margin-left: 1em;
    margin-right: 1em;
}
.sponsors_name4 {
    margin-bottom: 0px;
}
.sponsors_img4 {
    margin-top: 0px;
    margin-bottom: 3em;
}
.icon {

}
.h3_title {
    display: none;
}
.about_text {
    width: 90%;
}
.section_box {
    width: 90%;
}
















}
.h3_title {
    display: none;
}
/* Hero Section */
.hero {
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #053700;
    text-align: center;
    font-family: 03SmartFont-Proportional;
}
.light {
    font-weight: bold;
    color: #0C3700;
}
.tagline {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3D3D3D;
    font-size: x-large;
    font-family: "MPLUS1 VariableFont wght";
    font-variant: small-caps;
    font-weight: bold;
    width: auto;
}
/* About Section */
.text_column {
	width: 29%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.about {
    display: inline-block;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    background-color: #093900;
}
.section_title {
    text-align: center;
    font-family: "MPLUS1 VariableFont wght";
    color: #FFFFFF;
    height: 2em;
    background-color: #004D40;
    padding-top: 1em;
    font-size: xx-large;
    border-style: solid;
    border-color: #FFFFFF;
    margin-top: 0em;


}
.section_title2 {
    text-align: center;
    font-family: "MPLUS1 VariableFont wght";
    color: #FFFFFF;
    height: 2em;
    vertical-align: middle;
    border-style: solid;
    padding-top: 1em;
    background-color: #F4511E;
    margin-top: 2em;
    font-size: xx-large;
    width: auto;


}

/* Stats Gallery */
.stats {
	color: #717070;
	margin-bottom: 5px;
}
.gallery {
    margin-bottom: 3em;
    font-family: "MPLUS1 VariableFont wght";
    font-style: normal;
    font-size: large;
    text-align: left;
    margin-top: 0px;
    line-height: 2.5em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.twitter_button {
    display: inline-block;
    position: static;
    border-radius: 1em;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    right: auto;
}
.twitter_buttoninner {
    display: block;
    float: left;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}


.thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}
.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #A3A3A3;
}
.sponsors .sponsors_box .cards {
}
.sponsors_box {
    width: 50%;
    float: left;
    display: inline-block;
    height: 90%;
}
.sponsors_imgbox {
    height: 70%;
    display: block;
}

.sponsors_box4 {
    width: 33.3333%;
    float: left;
    display: inline-block;
}
.sponsors_name {
    font-family: "MPLUS1 VariableFont wght";
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 2em;
}
.sponsors_name4 {
    font-family: "MPLUS1 VariableFont wght";
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: medium;
}
.sponsors_img {
    display: inline-block;
    width: 60%;
    margin-left: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}



/* Parallax Section */
.banner {
    background-color: #093900;
    background-image: url(../images/parallax.png);
    height: 5em;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.parallax {
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 0px;
    margin-bottom: 0ex;
    padding-top: 1em;
    height: auto;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.footer_column {
    width: 50%;
    text-align: center;
    float: left;
}
footer .footer_column h3 {
    color: #093900;
    text-align: center;
    font-family: "MPLUS1 VariableFont wght";
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
    width: 100%;
    max-width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
    vertical-align: middle;
    border-radius: 2em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 2px solid #093900;
    color: #093900;
    transition: all 0.3s linear;
    font-family: "MPLUS1 VariableFont wght";
    font-size: medium;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    text-decoration: none;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1px;
    text-shadow: 0.1px 0px #FFFFFF;
    display: inline-block;
}
.button2 {
    vertical-align: middle;
    border-radius: 2em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 2px solid #093900;
    color: #093900;
    transition: all 0.3s linear;
    font-family: "MPLUS1 VariableFont wght";
    font-size: medium;
    padding-bottom: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    text-shadow: 0.1px 0px #FFFFFF;
    display: inline-block;
    padding-top: 0.2em;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.button:hover {
    background-color: #FEFEFE;
    color: #C4C4C4;
    cursor: pointer;
    font-size: medium;
    border-radius: 2em;
    border-style: solid;
    border-color: #929292;
}
.button2:hover {
    background-color: #FEFEFE;
    color: #C4C4C4;
    cursor: pointer;
    font-size: medium;
    border-radius: 2em;
    border-style: solid;
    border-color: #929292;
}
.copyright {
    text-align: center;
    padding-top: 20px;
    background-color: #717070;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
    font-family: "MPLUS1 VariableFont wght";
    width: 100%;
    display: inline-block;
    padding-bottom: 20px;
}
.copyright_box {
    width: 50%;
    display: inline-block;
    float: left;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
}

.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}
footer {
    display: block;
    margin: auto;
    width: 100%;
}
.block {
    display: inline-block;
    width: 100%;

}
.sponsors4 {
    width: 80%
%;
    border: medium solid #093900;
    height: auto;
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 2em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.hidden {
	display: none;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.sponsors_box   {
    width: 100%;

}
.sponsors_box4 {
    width: 100%;
}
.sponsors_img {
    width: 90%;
}
.class_inner_box {
    width: 95%;

}
.class_img {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.section_title {
    font-size: x-large;
}
.section_title2 {
    font-size: x-large;
}
.class_inner {
    font-size: medium;
}




.class {
    width: 100%;
}
.class {
    width: 95%;
}
.modalWrapper {
    width: 95%;
}
.modalContents {
    width: 95%;
}
.window_bar_outer {
    width: 95%;
}
.button2 {
    margin-top: 2px;
    margin-bottom: 2px;
    display: none;
}
.window_bar_outer {
    text-align: center;
    width: 90%;
}
.vlink {
    margin-top: -400px;
    padding-top: 400px;
}
.window_bar_box {
    font-family: "MPLUS1 VariableFont wght";
    font-size: small;
}














}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
.sponsors_box4 {
    width: 100%;
}
.sponsors_box {
    width: 100%;
}
.sponsors_img4 {
    width: 60%;
}
.instructor_outerbox {
    width: 50%;
}
.instructor_innerbox {
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}
.classinfo {
    width: 95%;
}
.button2 {
    margin-top: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    font-family: "MPLUS1 VariableFont wght";
    font-size: x-small;
}
.window_bar {
    width: 100%;
}
.window_bar_outer {
    font-size: small;
    float: left;
}
.window_bar_box {
    font-size: small;
}
.button2:hover {
    font-size: x-small;
}
section .gallery .block {
}
.grad-item {
    width: 100%;
}
.grad-trigger:checked ~ .grad-item {
    width: 100%;
}
.gallery {
    width: 90%;
}
















}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
.sponsors_box4 {
    width: 33.3%;
    float: left;
}
.sponsors4 {
    flex-wrap: wrap;
}
.sponsors_box {
    width: 100%;
}
.instructor_outerbox   {
    width: 50%;
}
.classinfo {
    width: 95%;
}
.button2 {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
}
.main_window {

}
.gallery {
    width: 90%;
}








}
.banner {
    margin-top: 0px;
    padding-top: 0px;
    height: 4em;
}
.toplogo {
    width: 4em;
    height: 4em;
    margin-bottom: 5em;
}
.window_text {
    font-family: "MPLUS1 VariableFont wght";
}
.window_title {
    font-family: "MPLUS1 VariableFont wght";
}

/* form */
.form_container {
    max-width: 80%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
    text-align: center;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background-color: #FAFAFA;
}
.form_head {
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 1em 1em 0px 0px;
    background-color: #EF9D04;
    /* [disabled]color: #FAFAFA; */
    padding-right: 1em;
    padding-left: 1em;
    font-family: "MPLUS1 VariableFont wght";
    font-size: small;
}
input {
  margin-bottom:10px;
}
textarea {
  height:100px;
  margin-bottom:10px;
}
input:first-of-type
{
  margin-top:35px;
}
input, textarea {
    font-size: 1em;
    padding: 15px 10px 10px;
    font-family: 'Source Sans Pro',arial,sans-serif;
    border: 1px solid #cecece;
    background: #d7d7d7;
    color: #FAFAFA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
}
::-webkit-input-placeholder {
   color: #FAFAFA;
}
:-moz-placeholder {
   color: #FAFAFA;
}
::-moz-placeholder {
   color: #FAFAFA;
}
:-ms-input-placeholder {
   color: #FAFAFA;
}
form_button {
  margin-top:15px;
  margin-bottom:25px;
  background-color:#2ABCA7;
  padding: 12px 45px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #2ABCA7;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  width:30%;
  color:#fff;
}
form_button:hover, .button:hover {
    /* [disabled]background:#19a08c; */
    text-align: left;
}
label.error {
    font-family:'Source Sans Pro',arial,sans-serif;
    font-size:1em;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#d89c9c;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
/* media queries */
@media (max-width : 767px ){
  label.error {
    width: 90%;
  }
  input, textarea {
    width: 90%;
  }
  form_button {
    width:90%;
  }
  body {

  }
.gallery {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

}
.form_message {


    font-family:'Source Sans Pro',arial,sans-serif;
    font-size:1.1em;
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#2ABCA7;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}

/* social icons*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
	height: 30px;
    text-align: center;
    border-radius: 35px;
    text-decoration: none;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;

}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.attention_title {
    border-left: thick solid #093900;
    border-bottom: thin solid #093900;
    padding-left: 0.5em;
    margin-top: 2em;
}
.attention_p {
    border-left: thin dashed #093900;
    padding-left: 0.5em;
}

@media (min-width:767px){
.d_hidden {
    display: none;
}
.gallery {
    text-align: center;
}


}
.blue {
}
.green {
}
